/*! blueleaf */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%; }

html {
  height: 100%;
  position: relative; }

body {
  min-height: 100%; }

.container {
  *zoom: 1;
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

html {
  /*! customrule: {"variable_init": {"variable": "bl-menu-hide", "value": false, "type": "simple"}} */
  /*! customrule: {"trigger": {"key": "bl-menu-hide", "event_type": "click", "value_expression": "!bl-menu-hide", "priority": 0}} */ }
body {
  font-family: sans;
  color: white;
  background: #222;
  padding: 0 4em 4em 4em; }

h1, h2, h3 {
  padding: 1em 0;
  margin: 0;
  font-weight: normal; }

a {
  color: white; }

div:not(.nostyle) {
  background: #006785;
  border: #037698 0.5em solid; }

div:not(.nostyle) > div {
  background: #4c4c4c;
  border: #575757 0.5em solid; }

div.placeholder, div > div.placeholder {
  height: 30em;
  background: transparent;
  border: none; }

ol:not(.nostyle), ul:not(.nostyle) {
  background: #006785;
  color: white; }
  ol:not(.nostyle) li, ul:not(.nostyle) li {
    background: #037698; }
    ol:not(.nostyle) li a, ul:not(.nostyle) li a {
      background: #4c4c4c;
      color: white; }

.defaultdemo {
  /*! customrule: {"sticky": {"directions": {"top": true}, "scrollarea_sel": "viewport", "container_sel": "_null", "sticky_class": "bl-sticked"}} */ }
  .defaultdemo.bl-sticked {
    z-index: 5; }

.scrollareademo {
  *zoom: 1;
  position: relative;
  width: auto;
  height: 20rem;
  min-height: 20rem;
  max-height: 20rem;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }
  .scrollareademo:before, .scrollareademo:after {
    content: "";
    display: table; }
  .scrollareademo:after {
    clear: both; }
  .scrollareademo .sticky {
    /*! customrule: {"sticky": {"directions": {"top": true}, "scrollarea_sel": ".scrollareademo", "container_sel": "_null", "sticky_class": "bl-sticked"}} */ }
    .scrollareademo .sticky.bl-sticked {
      z-index: 5; }

.containerdemo {
  *zoom: 1;
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .containerdemo:before, .containerdemo:after {
    content: "";
    display: table; }
  .containerdemo:after {
    clear: both; }
  .containerdemo .sticky {
    /*! customrule: {"sticky": {"directions": {"top": true}, "scrollarea_sel": "viewport", "container_sel": ".containerdemo", "sticky_class": "bl-sticked"}} */ }
    .containerdemo .sticky.bl-sticked {
      z-index: 5; }

.topbottomdemo {
  *zoom: 1;
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .topbottomdemo:before, .topbottomdemo:after {
    content: "";
    display: table; }
  .topbottomdemo:after {
    clear: both; }
  .topbottomdemo .sticky {
    /*! customrule: {"sticky": {"directions": {"top": true, "bottom": true}, "scrollarea_sel": "viewport", "container_sel": ".topbottomdemo", "sticky_class": "bl-sticked"}} */ }
    .topbottomdemo .sticky.bl-sticked {
      z-index: 5; }

.classdemo {
  *zoom: 1;
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .classdemo:before, .classdemo:after {
    content: "";
    display: table; }
  .classdemo:after {
    clear: both; }
  .classdemo .sticky {
    /*! customrule: {"sticky": {"directions": {"top": true}, "scrollarea_sel": "viewport", "container_sel": ".classdemo", "sticky_class": "classname"}} */ }
    .classdemo .sticky.classname {
      z-index: 5; }
    .classdemo .sticky span {
      visibility: hidden; }
    .classdemo .sticky.classname span {
      display: initial;
      visibility: visible; }

.offsetdemo {
  *zoom: 1;
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .offsetdemo:before, .offsetdemo:after {
    content: "";
    display: table; }
  .offsetdemo:after {
    clear: both; }
  .offsetdemo .sticky {
    /*! customrule: {"sticky": {"directions": {"top": true, "bottom": true}, "scrollarea_sel": "viewport", "container_sel": ".offsetdemo", "sticky_class": "bl-sticked"}} */ }
    .offsetdemo .sticky.bl-sticked {
      z-index: 5; }
    .offsetdemo .sticky.bl-sticked {
      margin: 5rem 0 5rem 0; }

.jumplinkdemo {
  *zoom: 1;
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .jumplinkdemo:before, .jumplinkdemo:after {
    content: "";
    display: table; }
  .jumplinkdemo:after {
    clear: both; }
  .jumplinkdemo .sticky {
    /*! customrule: {"sticky": {"directions": {"top": true}, "scrollarea_sel": "viewport", "container_sel": ".jumplinkdemo", "sticky_class": "bl-sticked"}} */
    height: 3rem; }
    .jumplinkdemo .sticky.bl-sticked {
      z-index: 5; }
  .jumplinkdemo a[href] {
    /*! customrule: {"smoothscrolling": {"time": 1000}} */ }
  .jumplinkdemo a[name] {
    display: block;
    position: relative;
    top: -3rem;
    visibility: hidden; }

.multipledemo {
  *zoom: 1;
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .multipledemo:before, .multipledemo:after {
    content: "";
    display: table; }
  .multipledemo:after {
    clear: both; }
  .multipledemo .sticky1 {
    /*! customrule: {"sticky": {"directions": {"top": true}, "scrollarea_sel": "viewport", "container_sel": ".multipledemo", "sticky_class": "bl-sticked"}} */ }
    .multipledemo .sticky1.bl-sticked {
      z-index: 5; }
    .multipledemo .sticky1.bl-sticked {
      z-index: 9; }
  .multipledemo .sticky2 {
    z-index: 10;
    /*! customrule: {"sticky": {"directions": {"top": true}, "scrollarea_sel": "viewport", "container_sel": ".multipledemo", "sticky_class": "bl-sticked"}} */ }
    .multipledemo .sticky2.bl-sticked {
      z-index: 5; }
    .multipledemo .sticky2.bl-sticked {
      z-index: 10; }
    .multipledemo .sticky2.bl-sticked {
      margin: 1rem 0 0 0; }

/*# sourceMappingURL=sticky.css.map */
