/*! blueleaf */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 100%; }

html {
  position: relative; }

.container {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  transform: translate3D(0, 0, -1px);
  transform-style: flat; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

body {
  font-family: sans;
  color: white;
  background: #222;
  padding: 0 4em 4em 4em; }

h1, h2, h3 {
  padding: 1em 0;
  margin: 0;
  font-weight: normal; }

a {
  color: white; }

div:not(.nostyle) {
  background: #006785;
  border: #037698 0.5em solid; }

div:not(.nostyle) > div {
  background: #4c4c4c;
  border: #575757 0.5em solid; }

div.placeholder, div > div.placeholder {
  height: 30em;
  background: transparent;
  border: none; }

ol:not(.nostyle), ul:not(.nostyle) {
  background: #006785;
  color: white; }
  ol:not(.nostyle) li, ul:not(.nostyle) li {
    background: #037698; }
    ol:not(.nostyle) li a, ul:not(.nostyle) li a {
      background: #4c4c4c;
      color: white; }

.alignment-relative {
  display: block;
  position: relative;
  *zoom: 1;
  width: 100%;
  height: 10rem;
  max-width: 20rem;
  min-height: 10rem;
  max-height: 10rem;
  margin-left: auto;
  margin-right: auto;
  transform: translate3D(0, 0, -1px);
  transform-style: flat; }
  .alignment-relative:before, .alignment-relative:after {
    content: "";
    display: table; }
  .alignment-relative:after {
    clear: both; }
  .alignment-relative .topleft {
    display: block;
    position: relative;
    *zoom: 1;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    margin-left: 0;
    margin-right: auto;
    top: 0%;
    transform: translate3D(0, 0%, -1px);
    transform-style: flat; }
    .alignment-relative .topleft:before, .alignment-relative .topleft:after {
      content: "";
      display: table; }
    .alignment-relative .topleft:after {
      clear: both; }
  .alignment-relative .middlecenter {
    display: block;
    position: relative;
    *zoom: 1;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translate3D(0, -50%, -1px);
    transform-style: flat; }
    .alignment-relative .middlecenter:before, .alignment-relative .middlecenter:after {
      content: "";
      display: table; }
    .alignment-relative .middlecenter:after {
      clear: both; }
  .alignment-relative .bottomright {
    display: block;
    position: relative;
    *zoom: 1;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    margin-left: auto;
    margin-right: 0;
    top: 100%;
    transform: translate3D(0, -100%, -1px);
    transform-style: flat; }
    .alignment-relative .bottomright:before, .alignment-relative .bottomright:after {
      content: "";
      display: table; }
    .alignment-relative .bottomright:after {
      clear: both; }
  .alignment-relative .outertopouterright {
    display: block;
    position: relative;
    *zoom: 1;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    top: auto;
    bottom: auto;
    left: 100%;
    right: auto;
    transform: translate3D(0, -100%, -1px);
    transform-style: flat; }
    .alignment-relative .outertopouterright:before, .alignment-relative .outertopouterright:after {
      content: "";
      display: table; }
    .alignment-relative .outertopouterright:after {
      clear: both; }
  .alignment-relative .outerright {
    display: block;
    position: relative;
    *zoom: 1;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    left: 100%;
    right: auto;
    transform: translate3D(0, 0, -1px);
    transform-style: flat;
    margin-left: 0.5em; }
    .alignment-relative .outerright:before, .alignment-relative .outerright:after {
      content: "";
      display: table; }
    .alignment-relative .outerright:after {
      clear: both; }
  .alignment-relative .outerbottom {
    display: block;
    position: relative;
    *zoom: 1;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    margin-left: auto;
    margin-right: 0;
    top: 100%;
    bottom: auto;
    transform: translate3D(0, 0, -1px);
    transform-style: flat; }
    .alignment-relative .outerbottom:before, .alignment-relative .outerbottom:after {
      content: "";
      display: table; }
    .alignment-relative .outerbottom:after {
      clear: both; }

.alignment-absolute {
  display: block;
  position: relative;
  *zoom: 1;
  width: 100%;
  height: 30rem;
  max-width: 50rem;
  min-height: 30rem;
  max-height: 30rem;
  margin-left: auto;
  margin-right: auto;
  transform: translate3D(0, 0, -1px);
  transform-style: flat; }
  .alignment-absolute:before, .alignment-absolute:after {
    content: "";
    display: table; }
  .alignment-absolute:after {
    clear: both; }
  .alignment-absolute .topleft {
    display: block;
    position: absolute;
    *zoom: 1;
    left: 0;
    right: auto;
    top: 0;
    bottom: auto;
    transform: translate3D(0, 0, -1px);
    transform-style: flat; }
    .alignment-absolute .topleft:before, .alignment-absolute .topleft:after {
      content: "";
      display: table; }
    .alignment-absolute .topleft:after {
      clear: both; }
  .alignment-absolute .middlecenter {
    display: block;
    position: absolute;
    *zoom: 1;
    left: 50%;
    top: 50%;
    transform: translate3D(-50%, -50%, -1px);
    transform-style: flat; }
    .alignment-absolute .middlecenter:before, .alignment-absolute .middlecenter:after {
      content: "";
      display: table; }
    .alignment-absolute .middlecenter:after {
      clear: both; }
  .alignment-absolute .bottomright {
    display: block;
    position: absolute;
    *zoom: 1;
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    transform: translate3D(0, 0%, -1px);
    transform-style: flat; }
    .alignment-absolute .bottomright:before, .alignment-absolute .bottomright:after {
      content: "";
      display: table; }
    .alignment-absolute .bottomright:after {
      clear: both; }
  .alignment-absolute .outertopouterright {
    display: block;
    position: absolute;
    *zoom: 1;
    top: auto;
    bottom: 100%;
    left: 100%;
    right: auto;
    transform: translate3D(0, 0, -1px);
    transform-style: flat; }
    .alignment-absolute .outertopouterright:before, .alignment-absolute .outertopouterright:after {
      content: "";
      display: table; }
    .alignment-absolute .outertopouterright:after {
      clear: both; }
  .alignment-absolute .outerright {
    display: block;
    position: absolute;
    *zoom: 1;
    left: 100%;
    right: auto;
    transform: translate3D(0, 0, -1px);
    transform-style: flat;
    margin-left: 0.5em; }
    .alignment-absolute .outerright:before, .alignment-absolute .outerright:after {
      content: "";
      display: table; }
    .alignment-absolute .outerright:after {
      clear: both; }
  .alignment-absolute .outerbottom {
    display: block;
    position: absolute;
    *zoom: 1;
    left: auto;
    right: 0;
    top: 100%;
    bottom: auto;
    transform: translate3D(0, 0, -1px);
    transform-style: flat; }
    .alignment-absolute .outerbottom:before, .alignment-absolute .outerbottom:after {
      content: "";
      display: table; }
    .alignment-absolute .outerbottom:after {
      clear: both; }

.alignment-fixed-bottomright {
  display: block;
  position: fixed;
  *zoom: 1;
  width: 10rem;
  min-width: 10rem;
  max-width: 10rem;
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transform: translate3D(0, 0%, -1px);
  transform-style: flat; }
  .alignment-fixed-bottomright:before, .alignment-fixed-bottomright:after {
    content: "";
    display: table; }
  .alignment-fixed-bottomright:after {
    clear: both; }

.c4 {
  /*TODO*/
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  transform: translate3D(0, 0, -1px);
  transform-style: flat;
  height: 45vh; }
  .c4:before, .c4:after {
    content: "";
    display: table; }
  .c4:after {
    clear: both; }
  .c4 div {
    display: block;
    position: relative;
    *zoom: 1;
    height: 100%;
    min-height: 10rem;
    max-height: 20rem;
    margin-left: auto;
    margin-right: auto;
    transform: translate3D(0, 0, -1px);
    transform-style: flat; }
    .c4 div:before, .c4 div:after {
      content: "";
      display: table; }
    .c4 div:after {
      clear: both; }

.c1 {
  /*TODO*/
  display: block;
  position: relative;
  *zoom: 1;
  width: 100%;
  min-width: 30rem;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  transform: translate3D(0, 0, -1px);
  transform-style: flat; }
  .c1:before, .c1:after {
    content: "";
    display: table; }
  .c1:after {
    clear: both; }

/*# sourceMappingURL=container.css.map */
