/*! blueleaf */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  position: relative; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 100%; }

html {
  position: relative; }

.container {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0); }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

html, body {
  font-family: sans;
  height: 100%; }

.header {
  background: #006785 url(../img/logo.svg) no-repeat;
  background-position: left center;
  background-size: auto 120%;
  border-bottom: 0.2rem #037698 solid;
  z-index: 10;
  float: left;
  position: relative;
  width: 100%;
  height: 2rem; }
  .header .inner {
    display: block;
    position: absolute;
    *zoom: 1;
    width: 100%;
    top: auto;
    bottom: 0;
    transform: translate3d(0, 0%, 0);
    font-size: 1rem; }
    .header .inner:before, .header .inner:after {
      content: "";
      display: table; }
    .header .inner:after {
      clear: both; }
    .header .inner h1 {
      padding: initial;
      margin: initial;
      font-size: 1em;
      font-weight: bold;
      color: white; }
    .header .inner > ul {
      list-style: none; }
      .header .inner > ul, .header .inner > ul {
        margin: 0;
        padding: 0; }
        .header .inner > ul > li, .header .inner > ul > li {
          list-style: none; }
        .header .inner > ul > li, .header .inner > ul > li {
          display: inline-block;
          margin-right: -4px !important; }
          .header .inner > ul > li:last-child, .header .inner > ul > li:last-child {
            margin-right: 0 !important; }
      .header .inner > ul li, .header .inner > ul * li, .header .inner > ul li, .header .inner > ul * li {
        position: relative; }
      .header .inner > ul > li > ul, .header .inner > ul * > li > ul, .header .inner > ul > li > ol, .header .inner > ul * > li > ol {
        margin: 0;
        padding: 0;
        display: block;
        position: absolute;
        *zoom: 1;
        width: 10rem;
        min-width: 10rem;
        max-width: 10rem;
        transform: translate3d(0, 0, 0);
        margin: 0 !important; }
        .header .inner > ul > li > ul > li, .header .inner > ul * > li > ul > li, .header .inner > ul > li > ol > li, .header .inner > ul * > li > ol > li {
          list-style: none; }
        .header .inner > ul > li > ul > li, .header .inner > ul * > li > ul > li, .header .inner > ul > li > ol > li, .header .inner > ul * > li > ol > li {
          display: block; }
        .header .inner > ul > li > ul:before, .header .inner > ul > li > ul:after, .header .inner > ul * > li > ul:before, .header .inner > ul * > li > ul:after, .header .inner > ul > li > ol:before, .header .inner > ul > li > ol:after, .header .inner > ul * > li > ol:before, .header .inner > ul * > li > ol:after {
          content: "";
          display: table; }
        .header .inner > ul > li > ul:after, .header .inner > ul * > li > ul:after, .header .inner > ul > li > ol:after, .header .inner > ul * > li > ol:after {
          clear: both; }
      .header .inner > ul > li > ul > li > ul, .header .inner > ul * > li > ul > li > ul, .header .inner > ul > li > ol > li > ol, .header .inner > ul * > li > ol > li > ol {
        display: block;
        position: absolute;
        *zoom: 1;
        width: 10rem;
        min-width: 10rem;
        max-width: 10rem;
        top: 0;
        bottom: auto;
        left: 100%;
        right: auto;
        transform: translate3d(0, 0, 0); }
        .header .inner > ul > li > ul > li > ul:before, .header .inner > ul > li > ul > li > ul:after, .header .inner > ul * > li > ul > li > ul:before, .header .inner > ul * > li > ul > li > ul:after, .header .inner > ul > li > ol > li > ol:before, .header .inner > ul > li > ol > li > ol:after, .header .inner > ul * > li > ol > li > ol:before, .header .inner > ul * > li > ol > li > ol:after {
          content: "";
          display: table; }
        .header .inner > ul > li > ul > li > ul:after, .header .inner > ul * > li > ul > li > ul:after, .header .inner > ul > li > ol > li > ol:after, .header .inner > ul * > li > ol > li > ol:after {
          clear: both; }
      .header .inner > ul > li > *, .header .inner > ul * > li > *, .header .inner > ul > li > *, .header .inner > ul * > li > * {
        display: block; }
      .header .inner > ul > li > *:not(ul):not(ol), .header .inner > ul * > li > *:not(ul):not(ol), .header .inner > ul > li > *:not(ul):not(ol), .header .inner > ul * > li > *:not(ul):not(ol) {
        padding: 0.4rem; }
      .header .inner > ul li, .header .inner > ul * li, .header .inner > ul li, .header .inner > ul * li {
        /*! customrule: {"trigger": {"target_expr": "{this}", "trigger_class": "menu-show", "type": "mouseover", "trigger_mode": "on", "priority": 0, "enabled": true}} */
        /*! customrule: {"trigger": {"target_expr": "{this}", "trigger_class": "menu-show", "type": "mouseout", "trigger_mode": "off", "priority": 0, "enabled": true}} */ }
        .header .inner > ul li > ul, .header .inner > ul * li > ul, .header .inner > ul li > ul, .header .inner > ul * li > ul {
          display: none; }
        .header .inner > ul li.menu-show > ul, .header .inner > ul * li.menu-show > ul, .header .inner > ul li.menu-show > ul, .header .inner > ul * li.menu-show > ul {
          display: block;
          visibility: visible; }
      .header .inner > ul > li > ul > li > ul, .header .inner > ul * > li > ul > li > ul, .header .inner > ul > li > ol > li > ul, .header .inner > ul * > li > ol > li > ul {
        display: none; }
      .header .inner > ul > li, .header .inner > ul > li {
        padding: 0rem 1rem; }
      .header .inner > ul > li > ul, .header .inner > ul > li > ol, .header .inner > ul > li > ul, .header .inner > ul > li > ol {
        margin: 0rem -1rem;
        margin-top: 0rem; }
      .header .inner > ul > li.menu-show > a {
        background: #037698; }
      .header .inner > ul a {
        color: white;
        text-decoration: none; }
        .header .inner > ul a:hover, .header .inner > ul a.active {
          background: #037698; }
      .header .inner > ul ul {
        background: #006785; }

.content {
  float: left;
  position: relative;
  width: 100%;
  height: calc(100% - 2rem);
  background: #037698; }
  .content .resizable {
    background: #006785;
    padding: 0.8rem;
    max-width: 100%;
    max-height: 100%;
    /*! customrule: {"resizable": {"resize_class": "resizing", "click_spacing": 10, "enabled": true}} */
    overflow: hidden;
    width: 100%;
    height: 100%; }
    .content .resizable.resizing .iframe {
      display: none; }
  .content .iframe {
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    resize: none; }
  .content .htmlcode, .content .sasscode {
    float: left;
    position: relative;
    width: 50%;
    float: left;
    position: relative;
    height: 100%;
    padding: 0.8rem;
    background: #006785; }
    .content .htmlcode > div, .content .sasscode > div {
      display: block;
      position: relative;
      *zoom: 1;
      width: 100%;
      height: 100%;
      transform: translate3d(0, 0, 0);
      overflow: scroll;
      background: white;
      font-family: monospace;
      font-size: 1.2rem;
      white-space: pre;
      padding: 1rem; }
      .content .htmlcode > div:before, .content .htmlcode > div:after, .content .sasscode > div:before, .content .sasscode > div:after {
        content: "";
        display: table; }
      .content .htmlcode > div:after, .content .sasscode > div:after {
        clear: both; }

.button.tab-demo {
  /*! customrule: {"trigger": {"target_expr": ".tab-demo", "trigger_class": "active", "type": "click", "trigger_mode": "on", "priority": 0, "enabled": true}} */
  /*! customrule: {"trigger": {"target_expr": ".tab-code", "trigger_class": "active", "type": "click", "trigger_mode": "off", "priority": 0, "enabled": true}} */ }

.button.tab-code {
  /*! customrule: {"trigger": {"target_expr": ".tab-demo", "trigger_class": "active", "type": "click", "trigger_mode": "off", "priority": 0, "enabled": true}} */
  /*! customrule: {"trigger": {"target_expr": ".tab-code", "trigger_class": "active", "type": "click", "trigger_mode": "on", "priority": 0, "enabled": true}} */ }

.tab-demo {
  /*! customrule: {"triggered": {"trigger_class": "active", "enabled": true}} */ }

.tab {
  display: none; }
  .tab.active {
    display: initial;
    visibility: visible; }

/*# sourceMappingURL=demobrowser.css.map */
