/*! blueleaf */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 100%; }

html {
  position: relative; }

.container {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

body {
  font-family: sans;
  color: white;
  background: #222; }

h1, h2, h3 {
  padding: 1em;
  margin: 0;
  font-weight: normal; }

a {
  color: white; }

div:not(.nostyle) {
  background: #006785;
  border: #037698 0.5em solid; }

div:not(.nostyle) > div {
  background: #4c4c4c;
  border: #575757 0.5em solid; }

div.placeholder, div > div.placeholder {
  height: 30em;
  background: transparent;
  border: none; }

ol:not(.nostyle), ul:not(.nostyle) {
  background: #006785;
  color: white; }
  ol:not(.nostyle) li, ul:not(.nostyle) li {
    background: #037698; }
    ol:not(.nostyle) li a, ul:not(.nostyle) li a {
      background: #4c4c4c;
      color: white; }

.c1 {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto; }
  .c1:before, .c1:after {
    content: "";
    display: table; }
  .c1:after {
    clear: both; }
  .c1 div {
    float: left;
    position: relative;
    width: 33.33333%; }

.c2 {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto; }
  .c2:before, .c2:after {
    content: "";
    display: table; }
  .c2:after {
    clear: both; }
  .c2 div {
    float: left;
    position: relative;
    width: 33.33333%; }
  .c2 .o {
    margin-left: 33.33333%; }

.c3 {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto; }
  .c3:before, .c3:after {
    content: "";
    display: table; }
  .c3:after {
    clear: both; }
  .c3 div {
    float: right;
    position: relative;
    width: 33.33333%; }

.c4 {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto; }
  .c4:before, .c4:after {
    content: "";
    display: table; }
  .c4:after {
    clear: both; }
  .c4 div {
    float: left;
    position: relative;
    width: 33.33333%; }
  .c4 .pl {
    left: auto;
    right: 33.33333%; }
  .c4 .ps {
    left: 33.33333%;
    right: auto; }

.c5 {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto; }
  .c5:before, .c5:after {
    content: "";
    display: table; }
  .c5:after {
    clear: both; }
  .c5 div {
    float: right;
    position: relative;
    width: 33.33333%; }
  .c5 .pl {
    left: auto;
    right: 33.33333%; }
  .c5 .ps {
    left: 33.33333%;
    right: auto; }

.c6 {
  display: block;
  position: relative;
  *zoom: 1;
  height: 20rem;
  min-height: 20rem;
  max-height: 20rem;
  margin-left: auto;
  margin-right: auto; }
  .c6:before, .c6:after {
    content: "";
    display: table; }
  .c6:after {
    clear: both; }
  .c6 div {
    float: left;
    position: relative;
    width: 100%;
    float: left;
    position: relative;
    height: 33.33333%; }

/*# sourceMappingURL=grid.css.map */
