/*! blueleaf */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  position: relative; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 100%; }

html {
  position: relative; }

.container {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0); }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

body {
  font-family: sans;
  color: white;
  background: #222;
  padding: 0 4em 4em 4em; }

h1, h2, h3 {
  padding: 1em 0;
  margin: 0;
  font-weight: normal; }

a {
  color: white; }

div:not(.nostyle) {
  background: #006785;
  border: #037698 0.5em solid; }

div:not(.nostyle) > div {
  background: #4c4c4c;
  border: #575757 0.5em solid; }

div.placeholder, div > div.placeholder {
  height: 30em;
  background: transparent;
  border: none; }

ol:not(.nostyle), ul:not(.nostyle) {
  background: #006785;
  color: white; }
  ol:not(.nostyle) li, ul:not(.nostyle) li {
    background: #037698; }
    ol:not(.nostyle) li a, ul:not(.nostyle) li a {
      background: #4c4c4c;
      color: white; }

.col-basic {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0); }
  .col-basic:before, .col-basic:after {
    content: "";
    display: table; }
  .col-basic:after {
    clear: both; }
  .col-basic div {
    float: left;
    position: relative;
    width: 33.33333%; }

.col-offset {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0); }
  .col-offset:before, .col-offset:after {
    content: "";
    display: table; }
  .col-offset:after {
    clear: both; }
  .col-offset div {
    float: left;
    position: relative;
    width: 33.33333%; }
  .col-offset .o {
    margin-left: 33.33333%; }

.col-right {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0); }
  .col-right:before, .col-right:after {
    content: "";
    display: table; }
  .col-right:after {
    clear: both; }
  .col-right div {
    float: right;
    position: relative;
    width: 33.33333%; }

.col-pushpull {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0); }
  .col-pushpull:before, .col-pushpull:after {
    content: "";
    display: table; }
  .col-pushpull:after {
    clear: both; }
  .col-pushpull div {
    float: left;
    position: relative;
    width: 33.33333%; }
  .col-pushpull .pl {
    left: auto;
    right: 33.33333%; }
  .col-pushpull .ps {
    left: 33.33333%;
    right: auto; }

.col-right-pushpull {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0); }
  .col-right-pushpull:before, .col-right-pushpull:after {
    content: "";
    display: table; }
  .col-right-pushpull:after {
    clear: both; }
  .col-right-pushpull div {
    float: right;
    position: relative;
    width: 33.33333%; }
  .col-right-pushpull .pl {
    left: auto;
    right: 33.33333%; }
  .col-right-pushpull .ps {
    left: 33.33333%;
    right: auto; }

.row-basic {
  display: block;
  position: relative;
  *zoom: 1;
  height: 20rem;
  min-height: 20rem;
  max-height: 20rem;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0); }
  .row-basic:before, .row-basic:after {
    content: "";
    display: table; }
  .row-basic:after {
    clear: both; }
  .row-basic div {
    float: left;
    position: relative;
    width: 100%;
    float: left;
    position: relative;
    height: 33.33333%; }

.row-offset {
  display: block;
  position: relative;
  *zoom: 1;
  height: 20rem;
  min-height: 20rem;
  max-height: 20rem;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0); }
  .row-offset:before, .row-offset:after {
    content: "";
    display: table; }
  .row-offset:after {
    clear: both; }
  .row-offset div {
    float: left;
    position: relative;
    width: 100%;
    float: left;
    position: relative;
    height: 25%; }
  .row-offset .o {
    /*! customrule: {"grid-offset": {"width": "100%", "height": "25%", "enabled": true}} */ }

.row-pushpull {
  display: block;
  position: relative;
  *zoom: 1;
  height: 20rem;
  min-height: 20rem;
  max-height: 20rem;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0); }
  .row-pushpull:before, .row-pushpull:after {
    content: "";
    display: table; }
  .row-pushpull:after {
    clear: both; }
  .row-pushpull div {
    float: left;
    position: relative;
    width: 100%;
    float: left;
    position: relative;
    height: 33.33333%; }
  .row-pushpull .pl {
    top: auto;
    bottom: 33.33333%; }
  .row-pushpull .ps {
    top: 33.33333%;
    bottom: auto; }

/*# sourceMappingURL=grid.css.map */
