/*! blueleaf */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 100%; }

html {
  position: relative; }

.container {
  display: block;
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

body {
  font-family: sans;
  color: white;
  background: #222; }

h1, h2, h3 {
  padding: 1em;
  margin: 0;
  font-weight: normal; }

a {
  color: white; }

div:not(.nostyle) {
  background: #006785;
  border: #037698 0.5em solid; }

div:not(.nostyle) > div {
  background: #4c4c4c;
  border: #575757 0.5em solid; }

div.placeholder, div > div.placeholder {
  height: 30em;
  background: transparent;
  border: none; }

ol:not(.nostyle), ul:not(.nostyle) {
  background: #006785;
  color: white; }
  ol:not(.nostyle) li, ul:not(.nostyle) li {
    background: #037698; }
    ol:not(.nostyle) li a, ul:not(.nostyle) li a {
      background: #4c4c4c;
      color: white; }

.horizontal {
  list-style: none; }
  .horizontal, .horizontal {
    margin: 0;
    padding: 0; }
    .horizontal > li, .horizontal > li {
      list-style: none; }
    .horizontal > li, .horizontal > li {
      display: inline-block;
      margin-right: -4px !important; }
      .horizontal > li:last-child, .horizontal > li:last-child {
        margin-right: 0 !important; }
  .horizontal li, .horizontal * li, .horizontal li, .horizontal * li {
    position: relative; }
  .horizontal > li > ul, .horizontal * > li > ul, .horizontal > li > ol, .horizontal * > li > ol {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    *zoom: 1;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    margin: 0 !important; }
    .horizontal > li > ul > li, .horizontal * > li > ul > li, .horizontal > li > ol > li, .horizontal * > li > ol > li {
      list-style: none; }
    .horizontal > li > ul > li, .horizontal * > li > ul > li, .horizontal > li > ol > li, .horizontal * > li > ol > li {
      display: block; }
    .horizontal > li > ul:before, .horizontal > li > ul:after, .horizontal * > li > ul:before, .horizontal * > li > ul:after, .horizontal > li > ol:before, .horizontal > li > ol:after, .horizontal * > li > ol:before, .horizontal * > li > ol:after {
      content: "";
      display: table; }
    .horizontal > li > ul:after, .horizontal * > li > ul:after, .horizontal > li > ol:after, .horizontal * > li > ol:after {
      clear: both; }
  .horizontal > li > ul > li > ul, .horizontal * > li > ul > li > ul, .horizontal > li > ol > li > ol, .horizontal * > li > ol > li > ol {
    top: 0;
    left: 10rem; }
  .horizontal > li > *, .horizontal * > li > *, .horizontal > li > *, .horizontal * > li > * {
    display: block; }
  .horizontal > li > *:not(ul):not(ol), .horizontal * > li > *:not(ul):not(ol), .horizontal > li > *:not(ul):not(ol), .horizontal * > li > *:not(ul):not(ol) {
    padding: 0.4rem; }
  .horizontal li, .horizontal * li, .horizontal li, .horizontal * li {
    /*! customrule: {"trigger": {"target_expr": "{this}", "trigger_class": "menu-show", "type": "mouseover", "trigger_mode": "on", "priority": 0, "enabled": true}} */
    /*! customrule: {"trigger": {"target_expr": "{this}", "trigger_class": "menu-show", "type": "mouseout", "trigger_mode": "off", "priority": 0, "enabled": true}} */ }
    .horizontal li > ul, .horizontal * li > ul, .horizontal li > ul, .horizontal * li > ul {
      display: none; }
    .horizontal li.menu-show > ul, .horizontal * li.menu-show > ul, .horizontal li.menu-show > ul, .horizontal * li.menu-show > ul {
      display: block;
      visibility: visible; }

.horizontal-click {
  list-style: none; }
  .horizontal-click, .horizontal-click {
    margin: 0;
    padding: 0; }
    .horizontal-click > li, .horizontal-click > li {
      list-style: none; }
    .horizontal-click > li, .horizontal-click > li {
      display: inline-block;
      margin-right: -4px !important; }
      .horizontal-click > li:last-child, .horizontal-click > li:last-child {
        margin-right: 0 !important; }
  .horizontal-click li, .horizontal-click * li, .horizontal-click li, .horizontal-click * li {
    position: relative; }
  .horizontal-click > li > ul, .horizontal-click * > li > ul, .horizontal-click > li > ol, .horizontal-click * > li > ol {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    *zoom: 1;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    margin: 0 !important; }
    .horizontal-click > li > ul > li, .horizontal-click * > li > ul > li, .horizontal-click > li > ol > li, .horizontal-click * > li > ol > li {
      list-style: none; }
    .horizontal-click > li > ul > li, .horizontal-click * > li > ul > li, .horizontal-click > li > ol > li, .horizontal-click * > li > ol > li {
      display: block; }
    .horizontal-click > li > ul:before, .horizontal-click > li > ul:after, .horizontal-click * > li > ul:before, .horizontal-click * > li > ul:after, .horizontal-click > li > ol:before, .horizontal-click > li > ol:after, .horizontal-click * > li > ol:before, .horizontal-click * > li > ol:after {
      content: "";
      display: table; }
    .horizontal-click > li > ul:after, .horizontal-click * > li > ul:after, .horizontal-click > li > ol:after, .horizontal-click * > li > ol:after {
      clear: both; }
  .horizontal-click > li > ul > li > ul, .horizontal-click * > li > ul > li > ul, .horizontal-click > li > ol > li > ol, .horizontal-click * > li > ol > li > ol {
    top: 0;
    left: 10rem; }
  .horizontal-click > li > *, .horizontal-click * > li > *, .horizontal-click > li > *, .horizontal-click * > li > * {
    display: block; }
  .horizontal-click > li > *:not(ul):not(ol), .horizontal-click * > li > *:not(ul):not(ol), .horizontal-click > li > *:not(ul):not(ol), .horizontal-click * > li > *:not(ul):not(ol) {
    padding: 0.4rem; }
  .horizontal-click > li > a, .horizontal-click * > li > a, .horizontal-click > li > a, .horizontal-click * > li > a {
    /*! customrule: {"trigger": {"target_expr": "{parent-3}", "trigger_class": "menu-show", "type": "click", "trigger_mode": "on", "priority": 0, "enabled": true}} */
    /*! customrule: {"trigger": {"target_expr": "{parent-1}", "trigger_class": "menu-show", "type": "click", "trigger_mode": "toggle", "priority": 0, "enabled": true}} */
    /*! customrule: {"trigger": {"target_expr": "{parent-1} li", "trigger_class": "menu-show", "type": "click", "trigger_mode": "off", "priority": 0, "enabled": true}} */ }
  .horizontal-click > li > ul, .horizontal-click * > li > ul, .horizontal-click > li > ul, .horizontal-click * > li > ul {
    display: none; }
  .horizontal-click > li.menu-show > ul, .horizontal-click * > li.menu-show > ul, .horizontal-click > li.menu-show > ul, .horizontal-click * > li.menu-show > ul {
    display: block;
    visibility: visible; }

html {
  /*! customrule: {"trigger": {"target_expr": ".horizontal-click li", "trigger_class": "menu-show", "type": "click", "trigger_mode": "off", "priority": -1, "enabled": true}} */ }

.vertical {
  list-style: none; }
  .vertical, .vertical *, .vertical, .vertical * {
    margin: 0;
    padding: 0; }
    .vertical > li, .vertical * > li, .vertical > li, .vertical * > li {
      list-style: none; }
    .vertical > li, .vertical * > li, .vertical > li, .vertical * > li {
      display: block; }
  .vertical > li > *, .vertical * > li > *, .vertical > li > *, .vertical * > li > * {
    display: block; }
  .vertical > li > ul, .vertical * > li > ul, .vertical > li > ol, .vertical * > li > ol {
    padding: 0rem 0rem 0rem 1rem; }
  .vertical > li > *:not(ul):not(ol), .vertical * > li > *:not(ul):not(ol), .vertical > li > *:not(ul):not(ol), .vertical * > li > *:not(ul):not(ol) {
    padding: 0.4rem; }
  .vertical > li, .vertical * > li, .vertical > li, .vertical * > li {
    padding: 0.4rem; }
  .vertical > li > ul, .vertical > li > ol, .vertical * > li > ul, .vertical * > li > ol, .vertical > li > ul, .vertical > li > ol, .vertical * > li > ul, .vertical * > li > ol {
    margin: -0.4rem;
    margin-top: 0.4rem; }
  .vertical > li > a, .vertical * > li > a, .vertical > li > a, .vertical * > li > a {
    /*! customrule: {"trigger": {"target_expr": "{parent-1}", "trigger_class": "menu-show", "type": "click", "trigger_mode": "toggle", "priority": 0, "enabled": true}} */
    /*! customrule: {"trigger": {"target_expr": "{parent-1} li", "trigger_class": "menu-show", "type": "click", "trigger_mode": "off", "priority": 0, "enabled": true}} */ }
  .vertical > li > ul, .vertical * > li > ul, .vertical > li > ul, .vertical * > li > ul {
    display: none; }
  .vertical > li.menu-show > ul, .vertical * > li.menu-show > ul, .vertical > li.menu-show > ul, .vertical * > li.menu-show > ul {
    display: block;
    visibility: visible; }

/*# sourceMappingURL=menu.css.map */
