/*! blueleaf */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%; }

html {
  height: 100%;
  position: relative; }

body {
  min-height: 100%; }

.container {
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0); }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

body {
  font-family: sans;
  color: white;
  background: #222;
  padding: 0 4em 4em 4em; }

h1, h2, h3 {
  padding: 1em 0;
  margin: 0;
  font-weight: normal; }

a {
  color: white; }

div:not(.nostyle) {
  background: #006785;
  border: #037698 0.5em solid; }

div:not(.nostyle) > div {
  background: #4c4c4c;
  border: #575757 0.5em solid; }

div.placeholder, div > div.placeholder {
  height: 30em;
  background: transparent;
  border: none; }

ol:not(.nostyle), ul:not(.nostyle) {
  background: #006785;
  color: white; }
  ol:not(.nostyle) li, ul:not(.nostyle) li {
    background: #037698; }
    ol:not(.nostyle) li a, ul:not(.nostyle) li a {
      background: #4c4c4c;
      color: white; }

.clickdemo a {
  /*! customrule: {"trigger": {"target_expr": ".clickdemo a", "trigger_class": "toggleclass", "type": "click", "trigger_mode": "toggle", "priority": 0, "enabled": true}} */ }
  .clickdemo a.toggleclass {
    font-weight: bold; }

.hoverdemo a {
  /*! customrule: {"trigger": {"target_expr": ".hoverdemo a", "trigger_class": "toggleclass", "type": "mouseover", "trigger_mode": "on", "priority": 0, "enabled": true}} */
  /*! customrule: {"trigger": {"target_expr": ".hoverdemo a", "trigger_class": "toggleclass", "type": "mouseout", "trigger_mode": "off", "priority": 0, "enabled": true}} */ }
  .hoverdemo a.toggleclass {
    font-weight: bold; }

.offcanvasdemo a {
  /*! customrule: {"trigger": {"target_expr": ".offcanvasdemo div", "trigger_class": "trigger", "type": "click", "trigger_mode": "toggle", "priority": 0, "enabled": true}} */ }
.offcanvasdemo div {
  height: 0;
  border: none !important;
  overflow: hidden;
  transition: height 1s ease, height 1s ease; }
  .offcanvasdemo div.trigger {
    height: 50px; }

.groupdemo a {
  /*! customrule: {"trigger": {"target_expr": "{parent-1} a", "trigger_class": "trigger", "type": "click", "trigger_mode": "off", "priority": 0, "enabled": true}} */
  /*! customrule: {"trigger": {"target_expr": "{parent-1} div", "trigger_class": "trigger", "type": "click", "trigger_mode": "off", "priority": 0, "enabled": true}} */
  /*! customrule: {"trigger": {"target_expr": "{this}", "trigger_class": "trigger", "type": "click", "trigger_mode": "on", "priority": 0, "enabled": true}} */
  /*! customrule: {"trigger": {"target_expr": "{parent-1} div.tab{attr-data-tab}", "trigger_class": "trigger", "type": "click", "trigger_mode": "on", "priority": 0, "enabled": true}} */ }
  .groupdemo a.trigger {
    font-weight: bold; }
.groupdemo div {
  display: none; }
  .groupdemo div.trigger {
    display: block;
    visibility: visible; }
.groupdemo a[data-tab="1"], .groupdemo div.tab1 {
  /*! customrule: {"triggered": {"trigger_class": "trigger", "enabled": true}} */ }

html {
  /*! customrule: {"trigger": {"target_expr": ".menudemo li div", "trigger_class": "trigger", "type": "click", "trigger_mode": "off", "priority": 0, "enabled": true}} */ }

.menudemo li a {
  /*! customrule: {"trigger": {"target_expr": "{parent-2} li div:not({parent-1} div)", "trigger_class": "trigger", "type": "click", "trigger_mode": "off", "priority": 1, "enabled": true}} */
  /*! customrule: {"trigger": {"target_expr": "{parent-1} div", "trigger_class": "trigger", "type": "click", "trigger_mode": "toggle", "priority": 2, "enabled": true}} */ }
.menudemo li div {
  display: none; }
  .menudemo li div.trigger {
    display: initial;
    visibility: visible; }

/*# sourceMappingURL=trigger.css.map */
