/*! blueleaf */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%; }

html {
  height: 100%;
  position: relative; }

body {
  min-height: 100%; }

.container {
  *zoom: 1;
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

html {
  /*! customrule: {"variable_init": {"variable": "bl-menu-hide", "value": false, "type": "simple", "enabled": true}} */
  /*! customrule: {"trigger": {"key": "bl-menu-hide", "event_type": "click", "value_expression": "!bl-menu-hide", "priority": 0, "enabled": true}} */ }
body {
  font-family: sans;
  color: white;
  background: #222;
  padding: 0 4em 4em 4em; }

h1, h2, h3 {
  padding: 1em 0;
  margin: 0;
  font-weight: normal; }

a {
  color: white; }

div:not(.nostyle) {
  background: #006785;
  border: #037698 0.5em solid; }

div:not(.nostyle) > div {
  background: #4c4c4c;
  border: #575757 0.5em solid; }

div.placeholder, div > div.placeholder {
  height: 30em;
  background: transparent;
  border: none; }

ol:not(.nostyle), ul:not(.nostyle) {
  background: #006785;
  color: white; }
  ol:not(.nostyle) li, ul:not(.nostyle) li {
    background: #037698; }
    ol:not(.nostyle) li a, ul:not(.nostyle) li a {
      background: #4c4c4c;
      color: white; }

div {
  *zoom: 1;
  position: relative;
  width: auto;
  height: 10rem;
  min-height: 10rem;
  max-height: 10rem;
  margin-left: auto;
  margin-right: auto; }
  div:before, div:after {
    content: "";
    display: table; }
  div:after {
    clear: both; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

/* Note that only wrapped content can be aligned vertically. */
.top b, .top big, .top i, .top small, .top tt, .top abbr, .top acronym, .top cite, .top code, .top dfn, .top em, .top kbd, .top strong, .top samp, .top var, .top a, .top bdo, .top br, .top img, .top map, .top object, .top q, .top script, .top span, .top sub, .top sup, .top button, .top input, .top label, .top select, .top textarea {
  display: inline;
  position: relative;
  top: 0%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.middle b, .middle big, .middle i, .middle small, .middle tt, .middle abbr, .middle acronym, .middle cite, .middle code, .middle dfn, .middle em, .middle kbd, .middle strong, .middle samp, .middle var, .middle a, .middle bdo, .middle br, .middle img, .middle map, .middle object, .middle q, .middle script, .middle span, .middle sub, .middle sup, .middle button, .middle input, .middle label, .middle select, .middle textarea {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.bottom b, .bottom big, .bottom i, .bottom small, .bottom tt, .bottom abbr, .bottom acronym, .bottom cite, .bottom code, .bottom dfn, .bottom em, .bottom kbd, .bottom strong, .bottom samp, .bottom var, .bottom a, .bottom bdo, .bottom br, .bottom img, .bottom map, .bottom object, .bottom q, .bottom script, .bottom span, .bottom sub, .bottom sup, .bottom button, .bottom input, .bottom label, .bottom select, .bottom textarea {
  display: block;
  position: relative;
  top: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.bottomright {
  text-align: right; }
  .bottomright b, .bottomright big, .bottomright i, .bottomright small, .bottomright tt, .bottomright abbr, .bottomright acronym, .bottomright cite, .bottomright code, .bottomright dfn, .bottomright em, .bottomright kbd, .bottomright strong, .bottomright samp, .bottomright var, .bottomright a, .bottomright bdo, .bottomright br, .bottomright img, .bottomright map, .bottomright object, .bottomright q, .bottomright script, .bottomright span, .bottomright sub, .bottomright sup, .bottomright button, .bottomright input, .bottomright label, .bottomright select, .bottomright textarea {
    display: block;
    position: relative;
    top: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }

/*# sourceMappingURL=alignment.css.map */
