@import "demo.scss";

.alignment-relative {
    @include container(2,(1 1));
    
    .topleft {
        @include container((1 1),auto,top,left);
    }
    .middlecenter {
        @include container((1 1),auto,center,middle);
    }
    .bottomright {
        @include container((1 1),auto,bottom,right);
    }
    .outertopouterright {
        @include container((1 1),auto,outer-top,outer-right);
    }
    .outerright {
        @include container((1 1),auto,outer-right);
        margin-left:0.5em;
    }
    .outerbottom {
        @include container((1 1),auto,outer-bottom,right);
    }
}

.alignment-absolute {
    @include container(5,(3 3));
    
    .topleft {
        @include container(auto,auto,absolute,top,left);
    }
    .middlecenter {
        @include container(auto,auto,absolute,center,middle);
    }
    .bottomright {
        @include container(auto,auto,absolute,bottom,right);
    }
    .outertopouterright {
        @include container(auto,auto,absolute,outer-top,outer-right);
    }
    .outerright {
        @include container(auto,auto,absolute,outer-right);
        margin-left:0.5em;
    }
    .outerbottom {
        @include container(auto,auto,absolute,outer-bottom,right);
    }
}

.alignment-fixed-bottomright {
    @include container((1 1),auto,fixed,bottom,right);
}


.c4 {/*TODO*/
    @include container();
    height:45vh;
    div {
        @include container(auto,(1 2));
    }
}
.c1 {/*TODO*/
    @include container((3 6),auto);
}




