@import "../libs/blueleaf/scss/blueleaf.scss";

ol,ul {
    background:#ccc;
    li {
        background:#999;
    }
}

.vertical {
    @include list-layout(vertical);
}
.horizontal {
    @include list-layout(horizontal);
}

.gutter {
    @include list-layout(vertical);
    @include list-gutter(inner,3); // all direct li descendandts get a gutter
    @include list-gutter(outer,3); // all lis get a gutter
    @include list-blocklink(); // makes all direct li descendants a block element
}

.multilevel {
    @include list-layout(vertical);
    @include list-level(1) {
        @include list-structure-spacing(5);
    }
}

.multilevel2 {
    @include list-layout(vertical);
    @include list-level(1,true) {
        @include list-structure-spacing(5);
    }
    @include list-level(2,false) {
        color:blue;
    }
    @include list-level(1,false) {
        color:red;
    }
}