@import "demo.scss";

div {
    height:5rem;
}
.color-up {
    @include bp(s) { // corresponds to bp(s,up)
        color:red;
    }
    @include bp(m) {
        color:green;
    }
    @include bp(l) {
        color:blue;
    }
}
.color-only {
    @include bp(m,onl) {
        color:red;
    }
}
.color-down {
    @include bp(m,down) {
        color:green;
    }
}
.color-o {
    @include bp-o(landscape) {
        color:orange;
    }
    @include bp-o(portrait) {
        color:turquoise;
    }
}