@import "../libs/blueleaf/scss/blueleaf.scss";

div {
    border:1px black solid;
}

.somestyles div {
    color:green;
    padding:5rem;
    text-align:right;
}

.somestyles .reset {
    @include reset(margin, padding, text-align);
    @include reset-p(initial,color);
    //@include reset(all-initial); // uses the CSS3 all property, which has very weak browser support
}